.container
  border-top: 1px solid #cccccc

.weatherItem
  display: flex
  align-items: center

  height: 50px

  border-bottom: 1px solid #cccccc

  cursor: default

.title
  width: 50px
  margin-left: 20px

.humidity
  display: flex
  align-items: center

  height: 50px
  background: hsla(240, 58%, 89%, 0.43)

  color: gray

.humidityTitle
  margin-left: 20px
  margin-right: 5px

.description
  display: flex
  align-items: center
  height: 100px

.icon
  width: 80px
