.container
  position: absolute
  top: 50px
  left: 10px

  height: 400px
  width: 300px

  background: white

  border: 1px solid #cccccc
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.12);
  border-radius: 4px

  z-index: 2
  box-sizing: border-box

.header
  width: 100%
  height: 40px
  display: flex
  justify-content: space-between

.filter
  width: 100px
  display: flex
  justify-content: center
  align-items: center

  cursor: pointer

  background-color: #fbfbfb
  font-size: 14px

.active
  background-color: #42a5f6
  color: white

.cityName
  font-size: 18px
  display: flex
  height: 60px
  align-items: center
  margin-left: 20px

.chartContainer
  width: 400px
  position: relative
  left: -40px
